body {
    position: relative;
}

.top-header {
    background-color: #2c342b;
}

.img-bg {
    position: relative;
    height: 900px;
    /* overflow: hidden; */
}

.bg-pic {
    width: 100%;
}

.img-logo {
    position: absolute;
    margin: 0 auto;
    top: 15%;
    left: 35%;
}

.pur {
    position: absolute;
    top: 50px;
    right: 100px;
    /* border: 2px solid #fff; */
    background-color: #fff;
    padding: 5px 30px;
}

.pur::before {
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, .5);
    inset: 0;
    opacity: 0;
    transition: .5s;
}

.pur:hover::before {
    opacity: .7;
}

.text-header {
    position: absolute;
    top: 40%;
    color: #fff;
    font-weight: bold;
    text-align: center;
    left: 37%;
}

.img-ill1 {
    position: absolute;
    top: 45%;
    left: 17%;
}

.img-ill2 {
    position: absolute;
    top: 60%;
    left: 4%;
}

.img-ill3 {
    position: absolute;
    top: 70%;
    left: 10%;
}

.img-ill4 {
    position: absolute;
    top: 60%;
    right: 10%;
}

.img-ill5 {
    position: absolute;
    top: 70%;
    right: -5%;
    display: none;
}

.text-content {
    margin-top: 100px;
    text-align: center;
}

.content {
    text-align: center;
    font-size: .8em;
    margin-top: 20px;
}

.circle-green {
    background: #2c342b;
    height: 80px;
    width: 80px;
    border-radius: 50px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.circle-red {
    background: #9e2525;
    height: 80px;
    width: 80px;
    border-radius: 50px;
    margin: 0 auto;
    margin-left: 50px;
}

.item {
    margin-bottom: 20px;
}

.img-row {
    width: 550px;
}
.img-row:hover {
    animation: up 1s;
}

@keyframes up {
    0% {transform: translateY(0);}
    100% {transform: translateY(-25px);}
}

.text-img {
    text-align: center;
}

.footer {
    height: 500px;
}

.footer {
    margin-top: 100px;
    background: url(../img/bg-demo-subscribe.jpg);
    position: relative;
    background-size: cover;
}

.footer::before {
    content: '';
    inset: 0;
    background: rgba(0, 0, 0, .5);
    position: absolute;
}

.topic-footer {
    position: absolute;
    padding-top: 50px;
    z-index: 0;
    padding-left: 35%;
    color: #fff;
    text-align: center;
}

.text-footer {
    position: absolute;
    color: rgb(196, 188, 188);
    padding-top: 200px;
    padding-left: 32%;
    text-align: center;
}

.form-light input {
    border: 1px solid rgba(255, 255, 255, 0.4);
    color: #fff;
    margin-top: 300px;
    position: absolute;
}

form input,
form {
    padding: 10px 0 10px 10px;
    display: block;
    margin: 0 auto;
    width: 40%;
    outline: none;
    background-color: transparent;
}

.btn-sub {
    position: absolute;
    background: #fff;
    padding: 10px 20px;
    margin-top: 350px;
    margin-left: 15%;
}

.bg-footer {
    height: 100px;
    background: #2c342b;
    color: #fff;
    text-align: center;
    padding-top: 40px;
}